.vscode
venv/
data/
volumes/
docker-compose.yml
__pycache__/
*.txt
*.yaml
*/data/
*.bat
node_modules/
.DS_Store
*.log
*.sqlite3
*.pyc
.env
.idea/
*.iml
*.class
milvustest.py
*.md 
*jpg 
*jpeg 
*png
*.gif
*.pdf
*.docx
*.pptx
*.xlsx
*.zip
*.tar.gz
*.rar
*.exe
*.dll
*.iso